<!-- PAGE TITLE
================================================== -->
<section class="page-title-section bg-img cover-background top-position1 left-overlay-dark" data-overlay-dark="9" data-background="assets/img/bg/bg-04.jpg">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Catálogo de Cursos</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="#!">Catálogo de Cursos</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ONLINE COURSES
================================================== -->
<section>
    <div class="container">
        <div class="section-heading">
            <span class="sub-title">descubre nuevos</span>
            <h2 class="h1 mb-0">Nuestros Cursos Online</h2>
        </div>
        <div class="row g-xxl-5 mt-n2-6">
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-01.jpg" alt="...">
                        </div>
                        <a href="courses-list.html" class="course-tag">Administración</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-01.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Elijah Lions</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">Cómo desarrollar habilidades de liderazgo profesional</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>10 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>23</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>5.00(1)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft">todos los niveles</span>
                                <h5 class="text-primary mb-0">$55.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0 border-color-secondary">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-02.jpg" alt="...">
                        </div>    
                        <a href="courses-list.html" class="course-tag secondary">Diseño</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-02.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Georgia Train</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">Herramientas de configuración para comunicación efectiva</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>09 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>15</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>4.00(2)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft secondary">principiante</span>
                                <h5 class="text-secondary mb-0">$35.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-03.jpg" alt="...">
                        </div>    
                        <a href="courses-list.html" class="course-tag">Redes</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-03.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Christian Hope</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">Introducción al entrenamiento en redes profesionales</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>20 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>20</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>5.00(3)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft">Experto</span>
                                <h5 class="text-primary mb-0">$99.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0 border-color-secondary">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-04.jpg" alt="...">
                        </div>
                        <a href="courses-list.html" class="course-tag secondary">Fotografía</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-04.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Reema Hawadah</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">Fotografía profesional desde cero</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>05 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>40</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>4.00(5)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft secondary">todos los niveles</span>
                                <h5 class="text-secondary mb-0">$39.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-05.jpg" alt="...">
                        </div>    
                        <a href="courses-list.html" class="course-tag">Música</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-05.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Sherrifah Shahd</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">¿Te gusta ser DJ? Crea música electrónica</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>07 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>50</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>4.50(7)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft">principiante</span>
                                <h5 class="text-primary mb-0">$20.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mt-2-6">
                <div class="card card-style1 p-0 h-100">
                    <div class="card-img rounded-0 border-color-secondary">
                        <div class="image-hover">
                            <img class="rounded-top" src="assets/img/content/courses-06.jpg" alt="...">
                        </div>    
                        <a href="courses-list.html" class="course-tag secondary">Finanzas</a>
                        <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
                        <div class="card-author d-flex">
                            <div class="avatar">
                                <img class="rounded-circle" src="assets/img/avatar/avatar-06.jpg" alt="...">
                            </div>
                            <h4 class="mb-0 h6">Blake Nathan</h4>
                        </div>
                        <div class="pt-6">
                            <h3 class="h4 mb-4"><a href="course-details.html">Principios de seguridad financiera y pensamiento estratégico</a></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="display-30"><i class="ti-agenda me-2"></i>10 Lecciones</div>
                                <div class="display-30"><i class="ti-user me-2"></i>23</div>
                                <div class="display-30"><i class="fas fa-star me-1 display-32 text-warning"></i>5.00(1)</div>
                            </div>
                            <div class="dotted-seprator pt-4 mt-4 d-flex justify-content-between align-items-center">
                                <span class="badge-soft secondary">experto</span>
                                <h5 class="text-secondary mb-0">$129.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- start pager  -->
                <div class="text-center mt-6 mt-lg-7">
                    <div class="pagination text-extra-dark-gray">
                        <ul>
                            <li><a href="#!" class="me-3"><i class="fas fa-long-arrow-alt-left"></i></a></li>
                            <li class="active"><a href="#!" class="me-2">1</a></li>
                            <li><a href="#!" class="me-2">2</a></li>
                            <li><a href="#!" class="me-3">3</a></li>
                            <li><a href="#!"><i class="fas fa-long-arrow-alt-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end pager -->
            </div>
        </div>
    </div>
</section> 